input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
}

body .navbar {
  border-radius: 0;
}
