input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

h1 {
    margin-bottom: 20px;
    margin-top: 0;
}

body .navbar {
    border-radius: 0;
    margin-bottom: 50px;
}

.category_remove span, .file_remove i {
    color: #ff0000;
}

.category_remove button, .file_remove button {
    border: none;
    background: none;
}

.category_remove {
    display: inline-block;
}

ul {
    list-style-type: square;
}

.submit_import_db {
    border: none;
    color: #21d204;
    background: none;
}

.outcome {
    color: #ec0000;
}

.income {
    color: #21d204;
}

#dashboard h2 {
    text-align: center;
}

.title_transaction {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#dashboard h1 {
    text-align: center;
}

.title_balance {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    display: block;
}
