<div class="col-md-3">
    <form method="POST">
        <button class="btn btn-medium btn-primary" type="submit" name="submitExport">Export</button>
    </form>
</div>
<div class="col-md-6">
    <table class="table">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Last edit</th>
            <th></th>
        </tr>
        {% for backup in backups %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{backup.name}}</td>
                <td>{{backup.last_edit}}</td>
                <td>
                    <form method="POST" class="file_remove">
                        <input type="hidden" name="file_name" value="{{backup.name}}"/>
                        <button type="submit" name="submitDeleteFile"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
