<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for outcome in outcomes %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{outcome.name}}</td>
                    <td>{{outcome.amount}}</td>
                    <td>{{outcome.category_name}}</td>
                    <td>{{outcome.date_add}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(function() {
        $('.table').dynatable({
            readers: {
                'amount': function(el, record) {
                    return Number(el.innerHTML) || 0;
                }
            }
        });
    });
</script>
