<form class="col-md-3" method="POST">
    <input name="name" type="text" id="name" class="form-control" placeholder="Name" required="true" autocomplete="off">
    <br />
    <div class="input-group">
        <input type="text" name="amount" id="amount" class="form-control" aria-label="Amount in &euro;" placeholder="0.00">
        <span class="input-group-addon">&euro;</span>
    </div>
    <br />
    <select class="form-control" name="id_category" id="id_category">
        {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
            {% if category.children is defined %}
                {% for child in category.children %}
                    <option value="{{child.id}}">-- {{child.name}}</option>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </select>
    <br />
    <button class="btn btn-medium btn-primary" type="submit" name="submitAddTransaction">Add <i class="fa fa-plus" aria-hidden="true"></i></button>
</form>
<div class="col-md-9">
    <table class="table">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{transaction.id}}</td>
                <td>{{transaction.name}}</td>
                {% if transaction.sign == 0 %}
                    <td class="outcome"><i class="fa fa-minus" aria-hidden="true"></i> {{transaction.amount}} &euro;</td>
                {% else %}
                    <td class="income"><i class="fa fa-plus" aria-hidden="true"></i> {{transaction.amount}} &euro;</td>
                {% endif %}
                <td>{{transaction.category_name}}</td>
                <td>{{transaction.date_add}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
